<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.dao.UserDao">

        <sql id="studentfield">
            id, name, age, gender, info
        </sql>

        <select id="findAll" resultType="com.fx.bean.Student">

            select * from student
        </select>
</mapper>